name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    name: ping-pong game
    runs-on: ubuntu-latest
    steps:
    - uses: actions-rs/install@v0.1
      with:
        crate: cargo-tarpaulin
        version: 0.16.0
        use-tool-cache: true
    - uses: actions-rs/install@v0.1
      with:
        crate: cargo-audit
        version: latest
        use-tool-cache: true
    - uses: actions/checkout@v2
    - name: Format
      run: cargo fmt
    - name: Detect Warnings
      run: cargo clippy -- -D warnings
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Code coverage
      run: cargo tarpaulin --ignore-tests
